*{
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background: #232334;
}



.header{
  position: absolute;
}

.info {
   width: 50%;
   display: flex;
   top: 60%;
   left:50%;
   margin-right: -50%;
   transform: translate(-50%, -50%);
   position: absolute;
   display: flex;
   flex-direction: column;
}

button {
    width: 200px;
    height: 60px;
    background: none;
    border: 4px solid;
    color: azure;
    background-color: #40405e;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    margin-top: 6%;
    margin-left: 5%;
}

.textareas {
    background-color: #40405e;
    margin-top: 5%;
    margin-bottom: 5%;
    border-color: black;
    border-width: 3px;
    border-radius: 10px;
    scroll-behavior: smooth;
    resize: none;
    color: azure;
    height: 120px;
}

#spistresci {
    height: 300px;
    color: azure;
}

.przyciski {
    display: flex;
    margin-left: auto;
    justify-content: center;
}

::placeholder{
    position: absolute;
    left: 4%;
    top: 30%;
    color: azure;
    opacity: 0.25;
    
}

h1 {
    text-align: center;
    position: absolute;
    color: azure;
    margin-top: 5%;
}

a {
  text-align: center;
    position: absolute;
    color: rgb(255, 255, 255);
    margin-top: 10%;
    font-size: large;
    line-height: 175%;
    font-weight: bold;
    
}

button::before, button::after{
    content: "";
    position: absolute;
    width: 14px;
    height: 4px;
    background: #000000;
    transform: skewX(50deg);
    transition: .4s linear;
  }

  button::before{
    top: -4px;
    left: 10%;
  }
  
  button::after{
    bottom: -4px;
    right: 10%;
  }
  
  button:hover::before{
    left: 80%;
  }
  
  .button:hover::after{
    right: 80%;
  }

  .input{
    flex-direction: row;
    display: flex;
  }

  .options{
    display: flex;
    flex-direction: column;
    width: 60%;
  }